@import '../css/index.css';

.after__content .header {
    height: 12vh;
    display: flex;
    justify-content: space-between;
    margin-left: 4rem;
    margin-right: 2rem;
    align-items: center;
    padding: 0 10px;
    font-family: var(--heading-font) ;
}

.after__content .header .navigation {
    min-width: 200px;
    display: flex;
    justify-content: space-around;
}

.after__content .header .navigation  a{
    text-decoration: none;
    color: rgb(238, 240, 150);
    font-size: 1.2rem;
    position: relative;
}

.after__content .header .navigation  a::after{
    height: 2px;
    content: "";
    width: 0%;
    position: absolute;
    bottom: -3px;
    left: 0;
    background-color: rgb(255, 255, 255);
    transition: width 0.5s ease-in-out;
}

.after__content .header .navigation  a:hover::after{
    height: 2px;
    width: 100%;
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    background-color: rgb(255, 255, 255);
}

.after__content .header .social {
    display: flex;
    font-size: 1.2rem;
    color: white;
}

.after__content .header .social .icons{
    min-width: 300px;
    display: flex;
    justify-content: space-between;
}

.after__content .header .social .icons a i{
    color: white;
}

.after__content .header .social .icons a:hover i{
    cursor: pointer;
    color: rgb(196, 196, 228);
}

.bar {
    display: none;
}

.main_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    color: rgb(43, 40, 14);

}


@media screen and (max-width: 700px) {
    .after__content .header .social .icons {
        display: none;
    }

    .bar {
        display: block;
        cursor: pointer;
        position: relative;
    }

    .bar .icon span{
        display: block;
        width: 20px;
        height: 2px;
        background-color: rgb(255, 255, 255);
        transition: all 0.3s ease-in-out;
        transform-origin: 0px 1px;
    }

    .bar .icon span:not(:last-child) {
        margin-bottom: 5px;
    }

    .open span:first-child {
        transform: rotate(45deg);
    }

    .open span:nth-child(2) {
        opacity: 0;
    }

    .open span:last-child {
        transform: rotate(-45deg);
    }

    .menu {
        position: absolute;
        bottom: 0;
        background-color: white;
        transform: translate(90px, 200px);
        color: black;
        display: flex;
        flex-direction: column;
        padding: 10px;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        border-radius: 5px;
    }
    
    .change-opacity {
        cursor: pointer;
        transform: translate(-10px, 200px);
        opacity: 1;
    }

    .bar .menu i {
        margin: 10px 0;
    }
}