* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red-text: #eb4a4a;
  --info-title: #a5a5a5;
  --info-text: #7b7b7b;
  --button-text: #ef6c6c;
}

body {
  background: black;
  color: white;
  padding: 10px 5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1580px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 5px 0;
}

header .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

header .left .name {
  font-size: 2rem;
  position: relative;
}

header .left .name span {
  position: absolute;
  bottom: -20px;
  right: -5px;
  font-size: 1.5rem;
  color: #eb4a4a;
  transform: rotate(30deg);
}

header .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

header .right .bar {
  height: 2px;
  width: 25px;
  background: var(--info-text);
  margin-bottom: 5px;
}

header .right .bar:nth-child(2) {
  width: 20px;
}
header .right .bar:nth-child(3) {
  width: 16px;
}

.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  /* height: calc(100vh - (3rem + 20vh)); */
}

.body .left .main-text {
  font-size: 5rem;
  font-family: serif;
}

.body .left .main-text span {
  font-weight: bold;
  color: var(--red-text);
}

.body .left .sub-text {
  color: rgb(230, 230, 230);
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.body .left button {
  margin-top: 3rem;
  background: var(--red-text);
  padding: 0.25rem 0.75rem;
  border-radius: 10px;
  letter-spacing: 2px;
  cursor: pointer;
}

.body .left button:hover {
  opacity: 0.8;
}

.body .left button a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: rgb(233, 231, 231);
}

.body .left button a span {
  padding: 10px 1rem;
  background: #ef6c6c;
  border-radius: 5px;
  margin-left: 1rem;
}

.body .right {
  max-width: 30vw;
  position: relative;
}

.body .right .title-text {
  color: var(--red-text);
  font-size: 2.5rem;
  opacity: 0.9;
}

.body .right .info-title {
  color: rgb(233, 231, 231);
  font-size: 1.5rem;
  margin-top: 1rem;
}

.body .right .info-text {
  color: var(--info-title);
  margin: 2rem 0;
}

.body .right a {
  text-decoration: none;
  color: #eb4a4a;
  position: relative;
  cursor: pointer;
}

.body .right a:hover {
  opacity: 0.7;
}

.body .right a::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #eb4a4a;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.body .right a span {
  margin-left: 0.5rem;
}

.body img {
  position: absolute;
  object-fit: cover;
  bottom: 0;
  right: 30%;
  height: 100vh;
  z-index: -1;
  -webkit-mask-image: radial-gradient(circle, black 40%, rgba(0, 0, 0, 0.1) 80%);
  mask-image: radial-gradient(circle, black 40%, rgba(0, 0, 0, 0.1) 80%);
}

.body .right .peace {
  background: #1ec9ee;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin-left: 70%;
}

.ring-main {
  border: 4px solid #1ec9ee;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: relative;
  margin: 0 auto 2rem auto;
}

.sub-ring {
  position: absolute;
  border: 4px solid var(--red-text);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  right: -0.5rem;
  top: -4px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2rem;
}

footer .left {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 5rem;
}

footer .icons ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer .icons ul li {
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
}

footer .icons ul li a svg {
  fill: white;
}

footer .icons ul li:hover > a svg {
  fill: #eb4a4a;
}

footer .link {
  display: flex;
  gap: 0.5rem;
  z-index: 999;
}

footer .link span {
  color: var(--red-text);
}

footer .right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  text-decoration: none;
  color: #fff;
}

footer .right:hover {
  transform: translateY(-3px);
}

footer .right img {
  margin-left: 0.5rem;
  margin-bottom: -1.25rem;
  height: 3rem;
}

@media screen and (max-width: 700px) {
  body {
    padding: 1rem 3rem;
  }
  .body {
    height: auto;
    flex-direction: column;
    justify-content: center;
  }

  header {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 3rem 0;
  }
  header .left {
    flex-direction: column;
    gap: 0;
    margin-bottom: 1rem;
  }

  header .left .name {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  header .left .name span {
    display: none;
  }
  header .right {
    position: absolute;
    right: 30px;
    top: 30px;
  }

  .body .left,
  .body .right {
    text-align: center;
  }

  .body img {
    position: relative;
    min-height: 150px;
    min-width: 150px;
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
    right: 10px;
    margin-bottom: 3rem;
    border: 2px dotted var(--red-text);
    mask-image: none;
    -webkit-mask-image: none;
  }

  .body .left .main-text {
    font-size: 2rem;
  }

  .body .left .sub-text {
    font-size: 1.25rem;
  }

  .body .right {
    max-width: 90vw;
  }

  .body .right .ring-main {
    position: absolute;
    opacity: 0.2;
    right: 6rem;
    top: 0;
  }

  .body .right .peace {
    display: none;
  }

  .body button {
    margin-bottom: 3rem;
  }

  footer,
  footer .left {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin: 1rem 0;
  }

  footer .left .icons ul {
    flex-direction: row;
    gap: 2rem;
    margin: 1rem 0;
  }

  footer .right {
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 1580px) {
  .body img {
    height: 90vh;
    right: 30%;
  }
}
