footer {
  font-family: var(--text-font);
  color: rgb(var(--text-color));
  font-style: italic;
  opacity: 0.5;
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;

  @media (max-width: 490px) {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }

  h4 {
    text-decoration: underline;
  }
}
