.content {
  height: 100vh;
  background-color: rgb(230, 227, 227);
  display: flex;
  align-items: center;
  overflow-y: hidden;
  position: relative;
}

.content .swivel {
  width: 0;
}

.content .swivel img {
  position: absolute;
  top: 0;
  height: 100vh;
  transform: rotate(180deg) translateX(13rem);
}

@media (max-width: 750px) {
  .content {
    height: auto;
    width: 100%;
    overflow-x: hidden;
    flex-direction: column;
    align-items: flex-start;
  }
  .content .swivel img {
    opacity: 0.2;
    z-index: 1;
    transform: translate(5rem, 15rem) skew(45deg);
  }
}
