.works {
  width: 100%;
  gap: 3rem;
  color: rgb(var(--text-color));
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (max-width: 820px) {
    grid-template-columns: 1fr;
  }

  .work {
    &-item {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      border: 2px solid #81818194;
      border-radius: 20px;
      overflow: hidden;

      animation: border-color-change 1s infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;

      img {
        width: 100%;
        height: 100%;
        aspect-ratio: 16 / 9;
        object-fit: contain;
        object-position: center center;
        background: rgb(var(--background));
      }
    }

    &-about {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2rem;
      flex: 1;
      gap: 1rem;
      bottom: 0;
      left: 0;
      width: 100%;
      border-top: 2px solid #81818194;
      @media (max-width: 820px) {
        flex-direction: column;
      }
    }

    &-description {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-family: var(--text-font);
      gap: 0.5rem;
      h3 {
        font-size: 1.5rem;
        width: 100%;
      }

      p {
        opacity: 0.9;
      }

      .tags {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
        li {
          all: unset;
          padding: 5px;
          background: #5c70942c;
          font-size: 0.8rem;
          white-space: nowrap;
          border-radius: 5px;
        }
      }
    }

    &-buttons {
      display: flex;
      align-items: center;
      gap: 1rem;
      flex-wrap: wrap;
      width: 100%;
      font-family: var(--text-font);

      @media (max-width: 820px) {
        margin-top: 1rem;
        justify-content: flex-start;
      }
      > a {
        text-decoration: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        white-space: nowrap;
        border: 1px solid rgb(var(--text-color));
        color: rgb(var(--text-color));
        border-radius: 10px;

        &:hover {
          box-shadow: 0 0 2px 2px #818181;
        }
      }

      .visit-site {
        background: rgb(var(--text-color));
        color: rgb(var(--background));
        font-weight: bold;
      }

      .disabled {
        opacity: 0.2;
        cursor: not-allowed;
      }
    }
  }

  &-container {
    border-top: 2px solid rgb(var(--text-color));

    animation: border-color-change 1s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

    .other-works {
      margin-top: 4rem;

      a {
        all: unset;
      }

      &-title {
        font-family: var(--header-font);
        margin-bottom: 2rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1.5rem;
      }

      ul,
      li {
        all: unset;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      li {
        display: flex;
        align-items: flex-end;
        font-family: var(--text-font);
        cursor: pointer;
        gap: 0.5rem;

        a {
          font-weight: bold;
          &:hover {
            text-decoration: underline;
          }
        }

        span {
          font-size: 0.85rem;
          font-style: oblique;
        }
      }
    }

    .experience {
      margin-top: 2.5rem;
      font-family: var(--text-font);

      &-title {
        font-family: var(--header-font);
        margin-bottom: 2rem;
        font-size: 2rem;
      }

      > ul > li {
        width: 100%;
        margin-bottom: 2rem;
        list-style-type: none;

        .experience-item {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 0.5rem;
          a {
            all: unset;
            font-weight: bold;
            cursor: pointer;
            font-size: 1.35rem;

            &:hover {
              text-decoration: underline;
            }
          }

          > span {
            font-size: 0.9rem;
            opacity: 0.8;
          }
        }

        p {
          margin: 0.5rem 0;
          font-size: 0.95rem;
          font-weight: bold;
        }
      }

      &-details {
        font-size: 0.9em;

        li {
          margin-bottom: 0.5rem;

          @media (max-width: 450px) {
            text-align: justify;
          }
        }
      }
    }
  }

  &-title {
    margin-top: 3rem;
  }
}
