.contact {
  width: 80vw;
  height: 100%;
  position: relative;
}

.container {
  position: absolute;
  top: 5vh;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(90, 88, 42);
}

.contact .background-image img {
  transform: rotate(0);
}

.container .title {
  width: 30%;
  height: 20%;
  font-size: 3rem;
  font-weight: bold;
  display: grid;
  place-items: end left;
  position: relative;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px rgb(0, 0, 0);
  font-family: serif;
}

.icons {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-around;
}

.contact_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.3s;
}

.contact_icon:hover {
  transform: translateY(-10px);
}

.contact_icon img {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

a {
  text-decoration: none;
}

.contact .mail a {
  color: rgb(0, 0, 0);
}

.contact .icons a {
  position: relative;
}

.contact .icons a span {
  position: absolute;
  color: rgb(0, 0, 0);
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.788);
  border-radius: 1rem;
  margin-top: -4rem;
  transform-origin: 0 0;
  animation: pendulum 4s ease-in-out alternate infinite;
}

.contact .icons img {
  position: absolute;
  object-fit: cover;
}

.everest {
  position: relative;
  overflow: hidden;
  border-radius: 3rem;
  opacity: 0.7;
}

.info_personal {
  margin-bottom: 3rem;
}

.circle {
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: rgba(4, 73, 34, 0.685);
  top: -30%;
  right: -7%;
  box-shadow: 2px 3px 2px 2px inset black;
}

.circle .circle_info {
  position: absolute;
  left: 20%;
  bottom: 25%;
  color: rgb(255, 255, 255);
}

.everest .address {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.address .mail {
  position: absolute;
  bottom: 10px;
}

.everest .address span {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-weight: 900;
  text-shadow: 2px 2px green;
}

.everest .address {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(218, 215, 215, 0.603);
}

.footer {
  position: absolute;
  bottom: 0;
  background: rgb(14, 94, 25);
  text-align: center;
  width: 100%;
  color: white;
}

@keyframes pendulum {
  0% {
    transform: rotate(60deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(60deg);
  }
}

@media (max-width: 750px) {
  .contact {
    height: 55rem;
    width: 100vw;
    margin-left: 0;
    background: rgb(93, 111, 114);
  }

  .container {
    top: 2rem;
  }

  .container .title {
    width: 100vw;
    height: 10rem;
    font-size: 3rem;
    display: grid;
    place-items: center;
    font-family: cursive;
  }

  .everest img {
    width: 100vw;
    height: 80vh;
    object-fit: cover;
  }

  .everest .circle {
    top: -20%;
    right: -20%;
  }

  .title .star {
    display: none;
  }

  .icons .contact_icon img {
    height: 50px;
    width: 50px;
  }

  .everest {
    border-radius: 0;
    opacity: 1;
  }

  .address span {
    padding: 1rem;
  }

  .address .mail {
    font-size: 20px;
    text-align: center;
  }

  .contact .icons a span {
    animation: none;
    bottom: -70px;
    font-size: smaller;
  }

  .contact .icons {
    width: 100%;
    flex-wrap: wrap;
    transform: translateY(3rem);
    margin-bottom: 4rem;
  }

  .contact .background-image img {
    display: none;
  }

  .everest .address span {
    color: rgb(47, 82, 36);
    text-shadow: 2px 2px rgb(255, 255, 255);
  }
}
