/* Blogs.scss */

.blog-list-container {
  font-family: var(--text-font);

  .file-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .file-link {
      text-decoration: none;
      color: rgb(var(--text-color));
      font-weight: bold;
    }
    li {
      padding: 1rem;
      background: rgb(var(--alternate-background), 0.2);
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.blog-post-container {
  padding: 20px;
  color: rgb(var(--text-color));
  font-family: var(--text-font);
  line-height: 1.6;

  .back-button {
    background-color: rgb(var(--alternate-background));
    color: rgb(var(--alternate-text-color));
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;

    &:hover {
      background-color: rgba(var(--alternate-background), 0.8);
    }
  }

  .content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: var(--header-font);
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 15px;
    }

    ul,
    ol {
      margin-left: 20px;
      margin-bottom: 15px;

      li {
        margin-bottom: 10px;
      }
    }

    blockquote {
      margin: 15px 0;
      padding: 10px 20px;
      background-color: rgba(var(--alternate-background), 0.1);
      border-left: 5px solid rgb(var(--alternate-background));
      font-style: italic;
    }

    pre {
      background-color: rgb(var(--black-background));
      color: rgb(var(--alternate-text-color));
      padding: 15px;
      border-radius: 5px;
      overflow-x: auto;
    }

    code {
      font-family: "Courier New", monospace;
      background-color: rgba(var(--alternate-background), 0.1);
      padding: 2px 4px;
      border-radius: 3px;
    }

    a {
      color: rgb(var(--alternate-text-color));
      text-decoration: underline;

      &:hover {
        color: rgb(var(--text-color));
      }
    }
  }
}
