/* Blogs.scss */

.blog-list-container {
  font-family: var(--text-font);
  min-height: calc(100vh - 10rem);
  border-top: 2px solid rgb(var(--text-color));
  padding-top: 2rem;

  h3 {
    font-size: 1.5rem;
    font-family: var(--header-font);
    margin-bottom: 2rem;
  }
  .file-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .file-link {
      text-decoration: none;
      color: rgb(var(--text-color));
      display: block;

      .blog-item {
        padding: 1.5rem;
        background: rgb(var(--alternate-background), 0.1);
        border-radius: 8px;
        // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: translateY(-3px);
          background: rgb(var(--alternate-background), 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
      }

      .blog-title {
        font-weight: bold;
        font-size: 1.1em;
        margin-bottom: 0.5rem;
        color: rgb(var(--primary-color));
      }

      .blog-date {
        font-size: 0.8em;
        color: rgb(var(--secondary-text-color));
      }
    }

    li {
      cursor: pointer;
    }
  }
}

.blog-post-container {
  padding: 20px;
  color: rgb(var(--text-color));
  font-family: var(--text-font);
  line-height: 1.6;

  hr {
    margin-bottom: 20px;
  }

  h3 {
    margin: 20px 0;
  }

  pre {
    background-color: #1e1e1e !important;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    color: #d4d4d4 !important;

    code {
      background: none !important;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 0;
  }

  .back-button {
    background-color: rgb(var(--alternate-background));
    color: rgb(var(--alternate-text-color));
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;

    &:hover {
      background-color: rgba(var(--alternate-background), 0.8);
    }
  }

  .content {
    hr:first-child {
      display: none;
    }

    .post-metadata {
      .post-title {
        margin-bottom: 0;
      }

      .post-date {
        font-size: 14px;
        color: rgb(var(--text-color), 0.7);
        font-style: italic;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: var(--header-font);
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 15px;
    }

    ul,
    ol {
      margin-left: 20px;
      margin-bottom: 15px;

      li {
        margin-bottom: 10px;
      }
    }

    blockquote {
      margin: 15px 0;
      padding: 10px 20px;
      background-color: rgba(var(--alternate-background), 0.1);
      border-left: 5px solid rgb(var(--alternate-background));
      font-style: italic;
    }

    pre {
      background-color: rgb(var(--black-background));
      color: rgb(var(--alternate-text-color));
      padding: 15px;
      border-radius: 5px;
      overflow-x: auto;
    }

    code {
      font-family: "Courier New", monospace;
      background-color: rgba(var(--alternate-background), 0.1);
      padding: 2px 4px;
      border-radius: 3px;
    }

    a {
      color: rgb(var(--alternate-text-color));
      text-decoration: underline;

      &:hover {
        color: rgb(var(--text-color));
      }
    }
  }
}
