.pa-content {
  font-family: var(--text-font);
  line-height: 1.6;
  color: rgb(var(--text-color));
  border-top: 2px solid rgb(var(--text-color));
  padding-top: 2rem;
  // background-color: $background-color;

  .pa-container {
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .pa-header {
    color: rgb(var(--background));
    padding: 2rem 0;
    text-align: center;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
      font-family: var(--header-font);
    }
  }

  .pa-profile {
    position: relative;
    padding: 1rem 0;
    color: rgb(var(--text-color));
    border-radius: 10px;
    backdrop-filter: blur(-5px);
    overflow: hidden;
    .pa-profile-content {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 2rem;

      @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;
      }
    }
    .pa-tagline {
      font-size: 1.1rem;
      margin-top: 1rem;
      width: fit-content;
      border-radius: 5px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      gap: 0.5rem;

      @media (max-width: 768px) {
        justify-content: center;
        width: 100%;
      }

      span {
        background-color: rgb(var(--text-color));
        color: rgb(var(--background));
        padding: 0.25rem 0.5rem;
        border-radius: 5px;
        font-size: 12px;
        font-weight: 600;
      }
    }

    .pa-profile-photo {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
      outline: 5px solid #fff;
    }

    .pa-profile-text {
      flex: 1;

      h2 {
        font-size: 2rem;
        color: rgb(var(--black-background));
        margin-bottom: 1rem;
      }
    }
  }

  .pa-main {
    padding: 2rem 0;

    .pa-hero {
      text-align: center;
      margin-bottom: 3rem;

      h2 {
        font-size: 2rem;
        color: rgb(var(--black-background));
        margin-bottom: 1rem;
        font-family: var(--header-font);

        @media screen and (max-width: 768px) {
          font-size: 1.5rem;
        }
      }

      .pa-cta-button {
        display: inline-block;
        border: 2px solid rgb(var(--black-background));
        color: rgb(var(--black-background));
        padding: 0.8rem 1.5rem;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        transition: background-color 0.3s ease;

        @media screen and (max-width: 768px) {
          display: block;
          border-radius: 10px;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .pa-section {
      margin-bottom: 3rem;

      h3 {
        font-size: 1.5rem;
        color: rgb(var(--black-background));
        margin-bottom: 1rem;
        font-family: var(--header-font);

        a {
          text-decoration: none;
          color: rgb(var(--black-background));
          outline: 1px solid #1890ff;
          padding: 0.2rem 0.5rem;
          border-radius: 5px;
        }
      }

      ul {
        list-style-type: none;
        padding-left: 0;

        li {
          margin-bottom: 0.5rem;
          padding-left: 1rem;
          position: relative;
        }
      }
    }

    .pa-skills h3 {
      font-family: var(--header-font);
      @media (max-width: 600px) {
        text-align: center;
      }
    }

    .pa-skills-list {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      @media (max-width: 600px) {
        justify-content: center;
      }

      li {
        background-color: rgb(var(--text-color), 0.8);
        color: rgb(var(--background));
        padding: 0.5rem 1rem;
        border-radius: 20px;
        font-size: 0.9rem;
        font-weight: 600;

        @media (max-width: 768px) {
          background-color: rgb(var(--text-color), 0.5);
          width: 100%;
          text-align: center;
          padding: 1rem;
          border-radius: 50px;
        }

        &::before {
          content: none;
        }
      }
    }
  }

  .pa-highlights ul li {
    @media screen and (max-width: 768px) {
      padding-left: 0 !important;
      list-style: disc !important;
      margin-left: 1rem !important;
    }
  }

  .pa-footer {
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 600;
    p {
      width: 100%;
      text-align: center;
    }
  }
}
