.content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: 1.5fr 0.5fr;

  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
  }

  &-image {
    width: 100%;
    height: 100%;
    background-image: url("../assets/prabin.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 3px solid var(--text-color);
    border-left: none;

    animation: border-color-change 1s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

    @media (max-width: 500px) {
      height: 50vh;
      order: -1;
      box-shadow: 0 0 1px 1px var(--text-color);
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 2rem;
    border: 3px solid var(--text-color);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;

    animation: border-color-change 1s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

    @media screen and (max-width: 500px) {
      padding-left: 0;
      width: calc(100% + 3px);
      height: 3rem;
      margin-top: 1rem;
    }

    h1 {
      color: var(--text-color);
      font-size: 4vh;
      font-family: var(--header-font);
      padding-right: 5vw;
      white-space: break-spaces;

      @media screen and (max-width: 500px) {
        font-size: 1rem;
        white-space: normal;
        text-align: center;
        width: 100%;
        margin-left: 3px;
        text-transform: uppercase;
        font-weight: bold;
      }
    }

    h3 {
      opacity: 0.6;
      font-family: var(--text-font);
      position: relative;
      cursor: pointer;
      &::after {
        content: "";
        background: var(--text-color);
        height: 1px;
        width: 60px;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }

  &-description {
    background: var(--background);
    color: var(--text-color);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: inherit;
    border: 2px solid var(--text-color);
    border-top: none;
    grid-column: 1 / -1;

    animation: border-color-change 1s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

    @media (max-width: 500px) {
      margin-bottom: 3rem;
      padding: 0 2rem;
    }

    p {
      font-family: var(--text-font);
      font-weight: bold;
    }

    h3 {
      font-family: var(--header-font);
      text-align: left;
      font-size: 0.75rem;
      width: 100%;
    }
  }
}

.flipX {
  animation: 2s anim-popoutin ease infinite;
}

/* flipping class and key frames*/
@keyframes anim-popoutin {
  0% {
    color: green;
    transform: scale(0);
    opacity: 0;
    text-shadow: 0 0 0 var(--text-color);
  }
  25% {
    color: green;
    transform: scale(1.2);
    opacity: 1;
    text-shadow: 3px 10px 5px var(--text-color);
  }
  50% {
    color: green;
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 var(--text-color);
  }
  100% {
    /* animate nothing to add pause at the end of animation */
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 var(--text-color);
  }
}

@keyframes border-color-change {
  0% {
    border-color: var(--text-color);
  }

  100% {
    border-color: var(--alternate-text-color);
  }
}
