header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;

  .name {
    font-family: var(--header-font);
    font-size: 3rem;
    text-transform: uppercase;
    cursor: pointer;
    min-width: 200px;

    a {
      all: unset;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    li {
      all: unset;
      font-family: var(--header-font);
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
      transition: text-decoration 0.4s ease-in-out;

      a {
        all: unset;
      }

      &:hover:not(.active) {
        text-decoration: underline;
      }

      &.active {
        background: #830808;
        color: #fff;
        padding: 0.5rem 1rem;
        border-radius: 5px;
      }
    }
  }

  .header-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 2rem;
    position: relative;
    .menu {
      position: absolute;
      left: 250px;
      bottom: -20px;
    }
  }

  .header-right {
    img {
      height: 40px;
      cursor: pointer;
    }
  }
}

.mobile-view {
  z-index: 999999999;
  .header-left .menu {
    display: none;
  }

  ul {
    flex-direction: column;
  }

  .mobile-menus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: absolute;
    right: 0;
    top: 0;
    background: var(--background);
    width: 100vw;
    height: 100vh;

    h3 {
      font-size: 2rem;
      font-family: var(--header-font);
    }

    span {
      cursor: pointer;
    }

    .close-button {
      position: absolute;
      top: 2rem;
      right: 2rem;
    }

    hr {
      width: 80%;
    }

    ul {
      width: 80%;
    }

    li {
      display: flex !important;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      width: 100%;
      height: 60px;

      &:hover {
        outline: 1px solid var(--text-color);
        border-radius: 50px 0 50px 0;
        text-decoration: none;
      }
    }

    li img {
      height: 100%;
    }

    #mob-theme {
      gap: 1rem;
      display: flex;
      align-self: center;
    }
  }
}

.content {
  position: relative;
}

.content h2 {
  display: inline-block;
  font-size: 3rem;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-family: var(--header-font);
  text-transform: uppercase;
  cursor: pointer;

  a {
    all: unset;
  }
}

.name {
  &.active {
    .content h2:nth-child(1) {
      -webkit-text-stroke: 1px #830808;
    }

    .content h2:nth-child(2) {
      color: #830808;
    }
  }
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 1px var(--text-color);
}

.content h2:nth-child(2) {
  color: var(--text-color);
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
