.setup-container {
  border-top: 2px solid var(--text-color);
  width: 100%;
  height: auto;

  animation: border-color-change 1s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-left: 1rem;
  }

  li {
    width: 100%;
    display: grid;
    grid-template-columns: 0.45fr 1fr;
    gap: 2rem;
    font-family: var(--text-font);
    font-size: 0.85rem;

    h3 {
      &::after {
        content: " :";
      }
    }

    @media screen and (max-width: "602px") {
      grid-template-columns: 1fr;
      gap: 0;

      h3 {
        &::after {
          content: "";
        }
      }
    }
  }

  .setup-title {
    font-family: var(--header-font);
    margin: 2rem 0;
  }
}
