.about-container {
  border-top: 2px solid rgb(var(--text-color));
  width: 100%;
  height: auto;

  animation: border-color-change 1s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  padding-top: 3rem;
  > h3 {
    font-size: 2rem;
    font-family: var(--header-font);
    margin-bottom: 1rem;
  }

  .about-info {
    width: 100%;

    color: rgb(var(--text-color));
    font-family: var(--text-font);
    font-size: 0.95rem;

    img {
      width: 100%;
      border-radius: 15px;
      margin-bottom: 2rem;

      @media (max-width: 768px) {
        height: 50vh;
        object-fit: cover;
        object-position: center center;
      }
    }

    @media (max-width: 500px) {
      text-align: justify;
    }
  }

  hr {
    margin: 4rem 0;

    // animate color change
    animation: border-color-change 1s infinite;

    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }

  .socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    h3 {
      margin-bottom: 2rem;
      text-transform: uppercase;
      font-family: var(--header-font);
    }

    ul {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;
      margin-left: 1rem;
      gap: 2rem;
    }

    ul li {
      cursor: pointer;
      all: unset;
      height: 100%;
      display: flex;
      justify-content: center;

      img {
        width: 3rem;
        height: 3rem;
        cursor: pointer;
      }

      @keyframes image-color-change {
        0% {
          filter: hue-rotate(0deg);
        }
        100% {
          filter: hue-rotate(360deg);
        }
      }
      &:nth-child(1) {
        img {
          background: white;
          border-radius: 5px;
          object-fit: cover;
        }
      }
    }

    a {
      all: unset;
    }

    .email-text {
      font-family: var(--text-font);
      text-justify: newspaper;
      font-style: italic;
      text-align: center;
      font-size: 0.9rem;
      margin-top: 3rem;

      a {
        text-decoration: underline;
      }
    }
  }
}
