@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap");

html {
  --header-font: "Merriweather", serif;
  --text-font: "Open Sans", sans-serif;
  --background: #fff;
  --black-background: #121212;
  --text-color: #121212;
  --alternate-background: #121212;
  --alternate-text-color: #c1c1c1;
  --gradient-bg: #ffffffb4;
}

html[data-theme="dark"] {
  --background: #121212;
  --text-color: #c1c1c1;
  --alternate-background: #c1c1c1;
  --alternate-text-color: #121212;
  --black-background: #d8d8d8;
  --gradient-bg: #000000b4;
}

$mobile: 750px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text-color);
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 0 auto;
  position: relative;
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.App {
  min-height: 100vh;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  margin: 0 auto;
  background: var(--gradient-bg);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.app-items {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#error-page {
  width: 100%;
  height: 100vh;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  background: var(--alternate-background);
  color: var(--alternate-text-color);
}
