@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap");

html {
  --text-font: "Merriweather", serif;
  --header-font: "Open Sans", sans-serif;
  --background: 255, 255, 255; /* #fff */
  --black-background: 18, 18, 18; /* #121212 */
  --text-color: 18, 18, 18; /* #121212 */
  --alternate-background: 18, 18, 18; /* #121212 */
  --alternate-text-color: 193, 193, 193; /* #c1c1c1 */
  --gradient-bg: 255, 255, 255; /* Equivalent to #ffffff */
}

html[data-theme="dark"] {
  --background: 18, 18, 18; /* #121212 */
  --text-color: 255, 255, 255; /* #fff */
  --alternate-background: 193, 193, 193; /* #c1c1c1 */
  --alternate-text-color: 18, 18, 18; /* #121212 */
  --black-background: 216, 216, 216; /* #d8d8d8 */
  --gradient-bg: 0, 0, 0; /* Equivalent to #000000 */
}

$mobile: 750px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--text-color));
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 0 auto;
  position: relative;
  background-image: url("./assets/new-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-attachment: fixed;
}

.App {
  min-height: calc(100vh - 6rem);
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  margin: 3rem auto;
  background: rgb(var(--gradient-bg), 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 0 3px 3px rgb(var(--text-color));

  /* Add transition for background and box shadow */
  transition: background-color 0.5s ease, box-shadow 0.5s ease;

  // no border and box shadow for day theme

  @media (max-width: $mobile) {
    padding: 2rem;
    margin: 0 auto;
    border-radius: 0;
    backdrop-filter: blur(5px);
  }
}

html[data-theme="light"] .App {
  border: none;
  box-shadow: none;
}
.app-items {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

#error-page {
  width: 100%;
  height: 100vh;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  background: var(--alternate-background);
  color: rgb(var(--alternate-text-color));
}

/* styles.css or App.css */

.page-wrapper {
  position: relative;
  overflow: hidden;
  perspective: 1000px; /* Adds depth to the 3D effect */
}

.page-enter {
  transform: translateX(-100%) rotateY(90deg);
  opacity: 0;
}

.page-enter-active {
  transform: translateX(0) rotateY(0deg);
  opacity: 1;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.page-exit {
  transform: translateX(0) rotateY(0deg);
  opacity: 1;
}

.page-exit-active {
  transform: translateX(100%) rotateY(-90deg);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
