@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap");

html {
  --header-font: "Merriweather", serif;
  --text-font: "Open Sans", sans-serif;
  --background: #fff;
  --black-background: #121212;
  --text-color: #121212;
  --alternate-background: #121212;
  --alternate-text-color: #c1c1c1;
  --gradient-bg: #ffffffb4;
}

html[data-theme="dark"] {
  --background: #121212;
  --text-color: #c1c1c1;
  --alternate-background: #c1c1c1;
  --alternate-text-color: #121212;
  --black-background: #d8d8d8;
  --gradient-bg: #000000b4;
}

$mobile: 750px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text-color);
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 0 auto;
  position: relative;
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.App {
  min-height: calc(100vh - 6rem);
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  margin: 3rem auto;
  background: var(--gradient-bg);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 30px;
  box-shadow: 0 0 3px 3px var(--text-color);

  @media (max-width: $mobile) {
    padding: 3rem;
    margin: 0 auto;
    border-radius: 0;
  }
}

.app-items {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

#error-page {
  width: 100%;
  height: 100vh;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  background: var(--alternate-background);
  color: var(--alternate-text-color);
}

/* styles.css or App.css */

.page-enter {
  transform: rotateY(90deg);
  opacity: 0;
}

.page-enter-active {
  transform: rotateY(0deg);
  opacity: 1;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.page-exit {
  transform: rotateY(0deg);
  opacity: 1;
}

.page-exit-active {
  transform: rotateY(-90deg);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.page-wrapper {
  position: relative;
  overflow: hidden;
}
