@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-y: hidden;
  flex-direction: row;
  font-family: "Akaya Telivigala", cursive;
  cursor: none;
}

.App .sidebar-main {
  position: fixed;
  width: 17rem;
  z-index: 99999;
}

.App .body {
  flex: 1;
  margin-left: 18.5rem;
}

.App {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.App::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
/* .App::-webkit-scrollbar {
  width: 0.1em;
  height: 10px;
}

.App::-webkit-scrollbar-track {
  border-radius: 10px;
}

.App::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #451ae0;
}

.App::-webkit-scrollbar:vertical {
  display: none;
} */

.hamburger {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 1rem;
}

.hamburger span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s ease-in-out;
  transform-origin: 0px 1px;
}

.hamburger span:not(:last-child) {
  margin-bottom: 0.35rem;
}

.open span:first-child {
  transform: rotate(45deg);
}

.open span:nth-child(2) {
  opacity: 0;
}

.open span:last-child {
  transform: rotate(-45deg);
}

.mousecursor {
  height: 20px;
  width: 20px;
  background: linear-gradient(rgb(41, 44, 207), rgb(19, 219, 46)) 0 0,
    linear-gradient(cyan, cyan) 33vw 0, linear-gradient(blue, blue) 66vw 0;
  border-radius: 50%;
  position: absolute;
  z-index: 99999999;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  transition-property: height, width;
}

:root {
  --afterContent: "Scroll";
}

.mousecursor::after {
  content: var(--afterContent);
  border: 1px solid rgb(216, 215, 215);
  color: black;
  position: absolute;
  border-radius: 1rem;
  padding: 0 1rem;
  left: 0;
  margin-left: 1.5rem;
  background: white;
}

.grow {
  height: 50px;
  width: 50px;
}

@media (max-width: 750px) {
  .App {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: auto;
  }

  .mousecursor {
    display: none;
  }

  .App .body {
    flex: 1;
    margin-left: 0;
  }

  .App .sidebar-main {
    position: fixed;
    width: 100vw;
  }

  .hide-sidebar {
    display: none;
    width: 0px;
  }

  .show-sidebar {
    display: block;
    width: 100vw;
    height: 100vh;
  }

  .hamburger {
    display: block;
    z-index: 9999999;
    left: 1rem;
  }
}
